body{
    background: #fdfdf5;
}
header{
    
    text-align: center;
}
main div{
    height: auto;
    padding: 13px;
    align-items: center;
    text-align: center;
}
.seccion_encriptar{
    display: inline-block;
    background: #e6ede3;
    width: 50%;
    height: 500px;
    padding: 20px;
    margin: 10px 0;
    border-radius: 20px;
    
}
.seccion_desencriptar{
    display: inline-block;
    height: 500px;
    background: #e6ede3;
    margin: 0;
    padding: 20px;
    
    width: 40%;
    border-radius: 20px;
}
.texto_1,.texto_2{
    background:#e6ede3 ;
    width: 99%;
    border-width: 2px;
    resize: none;
    border-radius: 10px;
    border-color: #002400;
}


h6{
    color: dimgrey;
    margin: 20px;
}
.botones{
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.btn_seccion{
    width: auto;
    display: inline-block;
}
.cambiar{
    background: white;
}
.img_cambiar{
    width: 30px;
}